
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100&family=Ubuntu:ital,wght@1,300&display=swap');
body{
    font-family: 'Ubuntu', sans-serif !important;
    background-color: #e5d6d6 !important;
}

.contact-img{
    width:"200px";
    height:200px;
    border-radius: 50%;

}